{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I have done.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          <h3>Telecom Engineer Apple (Contract), Elk Grove, CA | Jan 2021 – Present</h3>
              Conducted comprehensive assessments of Helpline Contact Center infrastructure across AMR, EMEIA, and APAC, ensuring optimal performance during migrations to SIPCluster, AWS, and ISCloud.<br />
              Collaborated with cross-functional teams to enhance contact center operations, focusing on scalability, reliability, and performance for voice, chat, and multimedia interactions.<br />
              Delivered technical implementation support by facilitating meetings with project managers, driving projects to timely completion.<br />
              Created and executed automated Cyara test campaigns, reducing ticket resolution time from two months to five days.<br />
              Led training sessions for junior engineers, enabling accurate issue diagnosis and operational improvements.<br />
              Partnered with production support teams to maintain zero service downtime during testing and implementation phases.<br />
        </p>
        <p>
          <h3>Senior Professional Services, QA/Solutions Engineer Genesys, Daly City, CA | May 1998 – Jan 2020</h3>
              Spearheaded the implementation of large-scale Genesys On-premises and Cloud solutions for APAC customers, ensuring seamless deployments.<br />
              Designed and implemented automated testing protocols for voice and multimedia solutions, increasing issue detection efficiency.<br />
              Provided advanced technical support for escalated customer issues, including writing custom routing applications and scripting.<br />
              Conducted business requirement analysis to customize Genesys solutions, successfully supporting pre-sales demonstrations.<br />
        </p>
        <p>
          <h3><TECHNICAL SKILLS</h3>
              Contact Center Technologies: Genesys Cloud, PureEngage, Salesforce integration<br />
              Programming & Tools: Python, SQL, JSON, XML (SCXML/VXML), Cloud & Platforms: AWS, WebRTC, SaaS technologies<br />
              Telephony & Networking: SIP, VoIP, TDM-to-IP gateways (Ribbon), Network Load Balancers (F5), Proxy Configurations, Cyara Platform<br />
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
